<h1>Reagent Form</h1>


<div class="navBar">

  <%= render 'layouts/navbar' %>

</div>

<div class="mainView">
  <%= form_for :reagent, url: reagent_path(@reagent), method: :patch do |r|%>
      <p>
        <%= r.label :requested_By %>
        <%= r.text_field :requested_by %>

        <%= r.label :requested_Date %>
        <%= r.date_select( :requested_date )%>
      </p>

      <p>
        <%= r.label :amount_Requested %>
        <%= r.text_field :amount_requested %>

        <%= r.label :Reagent_Name %>
        <%= r.text_field :reagent_name %>
      </p>

      <p>
        <%= r.label :order_No %>
        <%= r.text_field :order_no %>

        <%= r.label :lot_No %>
        <%= r.text_field :lot_no %>

        <br>
        <%= r.label :manufacturer %>
        <%= r.text_field :manufacturer %>

        <%= r.label :catalog_No %>
        <%= r.text_field :catalog_no %>
        <br>

        <%= r.label :supplier %>
        <%= r.text_field :supplier %>

        <%= r.label :ordered_Date %>
        <%= r.date_select :ordered_date %>

      </p>

      <p>
        <%= r.label :amount_Delivered %>
        <%= r.text_field :amount_delivered %>

        <%= r.label :delivered_Date %>
        <%= r.text_field :delivered_date %>
      </p>
      <%= r.submit %>
  <% end %>

</div>